@import url('https://fonts.googleapis.com/css?family=Patua+One|Ubuntu&display=swap');
body{
  margin: 0px;
}
h1{
  font-family: 'Pacifico', cursive;
  font-size: 45px;
}
.flex-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}
.flex {
  display: flex;
}
.container-login {
  display: block;
}
.show-message-error {
  display: inline-block;
  color: #db4a39;
  font-weight: bold;
}
.section-image{
  background-color: #5968a1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-login{
  background-size: cover;
  width: 100%;
  height: 100%;
}
.img-logo{
  width: 220px;
  height: 160px;
}
.slogan-coders{
  margin-top: 0px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #666666;
}
p{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #666666;
}
.register-href{
  font-weight: bold;
  color: #008fd3;
}

.inputForm {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 70%;
  position: relative;
}
.eye-class{
    width: 20px;
    position: absolute;
    height: 20px;
    right: 20px;
    top: 15px;
}
.button-login{
  font-family: 'Patua One', cursive;
  background-color: #f0ab00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 60%;
  font-size: 18px;
  outline: none;
}

.button-home{
  font-family: 'Patua One', cursive;
  background-color: #5968a1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 40%;
  font-size: 12px;
  outline: none;
}
.iconfb {
  color: #3b5998;
  font-size: 45px;
}
.iconGoogle{
  color:#db4a39;
  font-size: 45px;
}
.div-icon {
  margin-bottom: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #f0ab00;
}
ul {
  list-style-type: none;
  /* padding: 0; */
}
ul li {
  display: inline-block;
  padding: 0px 20px;
}
ul li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  /* text-align: center; */
  color: black;
  display: block;
  padding: 10px;
}
ul li a:hover {
  color: #f1f1f1;
  background-color: #caa852;
  /* background-color: #555; */
}
.heart{
  height: 30px;
}
.fa-eye:before {
  content: "\f06e";
  /* float: right; */
  /* margin-left: 210px; */
  /* margin-top: -50px; */
  /* position: relative; */
  /* z-index: 2; */
}
.flex-post{
  width: 30%;
  margin-left: 40%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.textarea-post{
  width: -webkit-fill-available;
    height: 100px;
    resize: none;
    border: 1px solid #5AC39B;
    padding: 7px 20px 7px 20px
}
.btn-select{
  align-self: start;
  margin-top: 3px;
  border-top-style: inset;
}
.btn-share{
  font-family: 'Patua One', cursive;
  background-color: #b6c334;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
  align-self: flex-end;
}
.img-profile{
  width: 100%;
}
.div-post {
  height: auto;
  border: 2px solid #7c817e;
  border-radius: 5px;
  padding: 2%;
}
.div-posts {
  height: auto;
  border: 2px solid #7c817e;
  border-radius: 5px;
  padding: 2%;
}
.middle-post{
  display: flex;
  flex-direction: column;
}
.botom-post{
  display: flex;
}
.li-child{
  margin: 0px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.ul-parent{
  padding-left: 0px;
}
.profile-div{
  display: flex;
  flex-direction: column;
  margin: 10%;
}
.img-user{
  height: 200px;
}
.form-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hide {
  display: none;
}
@media screen and (min-width: 764px) {
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  main{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
  }
  .flex-form {
    display: flex;
    width: 25vw;
  }
  .container-login {
    display: inline-flex;
    height: 100vh;
    width: 100%;
  }
  .container {
    height: 100%;
  }
  .login {
    display: flex;
    flex-direction: column;
    width: 200%;
    align-items: center;
    justify-content: center;
  }
  .img-login {
    background-size: cover;
    width: 833px;
    height: 500px;
  }
 .inputForm1{
   border: none;
  outline: none;
 } 
  nav ul {
    display: flex;
    justify-content: space-around;
  }
  /* nav li{
    flex: 1 1 0; 
  } */
  .img-profile {
    width: 500px;
}
}
