h1 {
  font-family: "Pacifico", cursive;
  font-size: 45px;
}
.flex-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}
.flex {
  display: flex;
}
.container-login {
  display: block;
}
.show-message-error {
  display: inline-block;
  color: #db4a39;
  font-weight: bold;
}
.section-image{
  background-color: #5968a1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-login{
  background-size: cover;
  width: 100%;
  height: 100%;
}
.bold {
  font-weight: bold;
}

.inputForm {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 70%;
}

.button-login {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 60%;
}
.iconfb {
  color: #3b5998;
  font-size: 30px;
  cursor: pointer;
}
.iconGoogle {
  color: #db4a39;
  font-size: 30px;
  cursor: pointer;
}
.div-icon {
  margin-bottom: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #83bb21;
}
ul {
  list-style-type: none;
  /* padding: 0; */
}
ul li {
  display: inline-block;
  padding: 0px 20px;
}
ul li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  cursor: pointer;
  /* text-align: center; */
  color: black;
  display: block;
  padding: 10px;
}
ul li a:hover {
  color: #f1f1f1;
  background-color: #6d9f16;

  /* background-color: #555; */
}

.fa-eye:before {
  content: "\f06e";
  float: right;
  margin-left: 210px;
  margin-top: -50px;
  position: relative;
  z-index: 2;
}

.hide {
  display: none;
}
@media screen and (min-width: 764px) {
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .flex-form {
    display: flex;
    width: 25vw;
  }
  .container-login {
    display: inline-flex;
    height: 100vh;
    width: 100%;
  }
  .container {
    height: 100%;
  }
  .login {
    display: flex;
    flex-direction: column;
    width: 200%;
    align-items: center;
    justify-content: center;
  }
  .img-login {
    background-size: cover;
    width: 833px;
    height: 500px;
  }

  /* header styles */
  /* .header a {
    float: left;
  text-align: center;
  }
  .header-right {
    float: right;
  } */
  nav ul {
    display: flex;
    justify-content: space-around;
  }
  /* nav li{
    flex: 1 1 0; 
  } */
}
