@import url('https://fonts.googleapis.com/css?family=Patua+One|Ubuntu&display=swap');
*{
  margin: 0;
  padding: 0;
}
main{
  padding:20px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #f0ab00;
  font-family: 'Ubuntu';
}
body{
  margin: 0px;
}
h1{
  font-family: 'Pacifico', cursive;
  font-size: 45px;
}

h2{
  font-size: 23px;
}

header nav ul{
  list-style-type: none;
  position: absolute;
  right: 0;
  top: 45px;
  background-color: #4994e8;
  height: 25vh
}
header nav ul li {
  display: inline-block;
  /* padding: 0px 20px; */
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ffffff4a;
}

header nav ul li a {
  transition: all 0.3s ease 0s;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 10px;
}

ul li a:hover{
  color:#f1f1f1;
  background-color: deepskyblue;
}
header nav ul li span {
  margin-right: 10px;
}

.flex-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.container-login {
  display: block;
}
.show-message-error {
  display: inline-block;
  color: #db4a39;
  font-weight: bold;
}
.section-image{
  display: none;
}
.img-login{
  background-size: cover;
  width: 100%;
  height: 100%;
}
.img-logo{
  width: 220px;
  height: 160px;
}
.slogan-coders{
  margin-top: 0px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #666666;
}
p{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #666666;
}
.register-href{
  font-weight: bold;
  color: #008fd3;
}

.inputForm {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 70%;
  position: relative;
}
.eye-class{
  width: 20px;
  position: absolute;
  height: 20px;
  right: 20px;
  top: 15px;
}

.flex-post{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0px 20px;
  border: solid 1px;
  border-radius: 5px;
  padding: 15px;
}
.button-login{
  font-family: 'Patua One', cursive;
  background-color: #f0ab00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 60%;
  font-size: 18px;
  outline: none;
}
.button-login:hover{
  color: #eade70;
  background-color: rgb(0, 143, 211);
}
.button-home{
  font-family: 'Patua One', cursive;
  background-color: #5968a1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 40%;
  font-size: 12px;
  outline: none;
}
.textarea-post{
  width: -webkit-fill-available;
  height: 100px;
  resize: none;
  border: 1px solid #5AC39B;
  padding: 7px 20px 7px 20px
}

.btn-select{
  align-self: start;
  margin-top: 3px;
  border-top-style: inset;
}
.iconfb {
  color: #3b5998;
  font-size: 45px;
}
.iconGoogle{
  color:#db4a39;
  font-size: 45px;
}
.div-icon {
  margin-bottom: 15px;
}

.heart{
  height: 30px;
}
.fa-eye:before {
  content: "\f06e";
  /* float: right; */
  /* margin-left: 210px; */
  /* margin-top: -50px; */
  /* position: relative; */
  /* z-index: 2; */
}

.icon-exit{
  cursor: pointer;
}

.flex-post{
  width: 30%;
  margin-left: 40%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.textarea-post{
  width: -webkit-fill-available;
    height: 100px;
    resize: none;
    border: 1px solid #5AC39B;
    padding: 7px 20px 7px 20px
}
.btn-select{
  align-self: start;
  margin-top: 3px;
  border-top-style: inset;
}
.btn-share{
  font-family: 'Patua One', cursive;
  background-color: #5968a1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
  align-self: flex-end;
}
.img-profile{
  width: 100%;
  display: none;
}
.div-post {
  height: auto;
  border: 2px solid #4231B5;
  border-radius: 5px;
  padding: 2%;
  margin: 2%;
  font-family: 'Ubuntu';

}

.border-post{
  border: 2px solid #7c817e; 
}
.middle-post{
  display: flex;
  flex-direction: column;
}
.botom-post{
  display: flex;
}
.mr-mitad{
  margin-right: 0.5rem;
}
.li-child{
  list-style: none;
  margin: 0px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.ul-parent{
  padding-left: 0px;
}
.profile-div{
  display: flex;
  flex-direction: column;
  margin: 10%;
}
.user-perfil{
  height: auto;
  border: 2px solid #7c817e;
  border-radius: 5px;
  padding: 2%;
  margin-bottom: 5%;
  margin-top: 5%;
}
/*.circle-img{
  height: 150px;
  width: 50%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}*/
.img-user{
  height: 200px;
}
.form-profile{
  display: flex;
  flex-direction: column;
  align-items: center;

}
hr{
  border: 2px solid #795FFD;;
  margin: 2%;
}
.img-avatar{
  height: 100px;
}
.hide {
  display: none;
}
.inputForm1{
  border: none;
  outline: none;
 } 

.show {
  display: block;
}
@media screen and (min-width: 764px) {
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
main{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-evenly;
}
h2{
  font-size: 40px;
}
header nav ul{
  list-style-type: none;
  position: initial;
  right: 0;
  top: 0;
  background-color: #c1cddb08;
  height: initial;
}

header nav ul li {
  /* padding: 0px 20px; */
  width: initial;
  text-align: center;
  border-bottom: none;
}
.flex-form {
  display: flex;
  width: 25vw;
}
.container-login {
  display: inline-flex;
  height: 100vh;
  width: 100%;
}
.container {
  height: 100%;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.img-login {
  background-size: cover;
  width: 833px;
  height: 500px;

}

.icon-menu{
  display: none;
}
.section-image{
  background-color: #5968a1;
  background-image: url(img/banner03.jpg);
  height: 100vh;
  width: 60%;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.flex-post{
  width: 30%;
  margin-left: 40%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.inputForm1{
  border: none;
  outline: none;
 } 
.list-menu{
  display: flex !important;
}
 
  nav ul {
    display: flex;
    justify-content: space-around;
  }
  /* nav li{
    flex: 1 1 0; 
  } */
  .img-profile {
    width: 500px;
    display: block;
  }
}
